In [6]:
import pandas as pd
df = pd.read_csv("/Users/Vipul/Desktop/age2.csv")
df.head(6)

   Age  Degrees  Income
0   50        5    5000
1   60        3    4500
2   10        1    7000
3   20        2    6000
4   40        7    3500
5   80        9    2000

In [7]:
x = df[['Age', 'Degrees']]
y = df[['Income']]
x

   Age  Degrees
0   50        5
1   60        3
2   10        1
3   20        2
4   40        7
5   80        9

In [11]:
y
print(type(y))

<class 'pandas.core.frame.DataFrame'>

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=1)
X_train

   Age  Degrees
4   40        7
0   50        5
3   20        2
5   80        9

In [15]:
X_test

   Age  Degrees
2   10        1
1   60        3

In [16]:
from sklearn.linear_model import LinearRegression 
mod = LinearRegression()

In [17]:
mod.fit(X_train,Y_train)

LinearRegression()

In [19]:
mod.predict(X_train)
mod.score(X_test,Y_test)
mod.coef_
mod.intercept_

array([7432.73542601])

In [20]:
#Let's consider an example using these coefficients and intercept values:

#Person A: 5 years of experience, Education Level: Bachelor's
#Years of Experience = 5
#Education Level = 1 (Bachelor's degree, assuming it's encoded as a categorical variable)
#Using the formula for multiple regression:
#Estimated Salary = Intercept + (Coefficient for Experience * Years of Experience) + (Coefficient for Education * Education Level)

#Estimated Salary for Person A = $30000 + ($2000 * 5) + ($5000 * 1) = $40000

#So, according to the model, Person A with 5 years of experience and a Bachelor's degree is estimated to have a salary of $40000.

#Now, let's say we have another person:

#Person B: 3 years of experience, Education Level: Master's
#Years of Experience = 3
#Education Level = 2 (Master's degree)
#Estimated Salary for Person B = $30000 + ($2000 * 3) + ($5000 * 2) = $42000

#Person B, with 3 years of experience and a Master's degree, is estimated to have a salary of $42000.

In [24]:
mod.predict([[25,2]]) #Predict for age 25 and no. of degrees 2

C:\Users\Vipul\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[6277.46636771]])

In [25]:
#Retrain the model for accuracy

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [27]:
from sklearn.linear_model import LinearRegression 
mod = LinearRegression()

In [28]:
mod.fit(X_train,Y_train)

LinearRegression()

In [38]:
mod.predict(X_train)

array([[4833.33333333],
       [6000.        ],
       [4333.33333333],
       [3833.33333333]])

In [30]:
mod.score(X_test,Y_test)

0.9762688614540466

In [36]:
mod.coef_

array([[ -20.37037037, -351.85185185]])

In [39]:
mod.intercept_

array([7111.11111111])

In [41]:
mod.predict([[25,2]])

C:\Users\Vipul\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[5898.14814815]])

In [45]:
x

   Age  Degrees
0   50        5
1   60        3
2   10        1
3   20        2
4   40        7
5   80        9

In [47]:
y

   Income
0    5000
1    4500
2    7000
3    6000
4    3500
5    2000

In [50]:
mod.predict([[80,9]])

C:\Users\Vipul\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[2314.81481481]])

In [52]:
#here the modelpredicted Y as 2314.8148 while actual value from table was 2000 (quite close....)